@import 'bootstrap-reboot.min';
@import 'bootstrap-grid.min';

$black: #000; // primary
$gray1: #c1c1c1;
$gray2: #a8a8a8; // secondary
$blue: #0023ff;

%clear-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

%button {
	display: inline-block;
	background-color: transparent;
	border: 1px solid transparent;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
    user-select: none;
    color: #fff;
    outline: none;
}

html, body {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: $black;
	background: #f1f1f1;
}

.leftnav {
	background-color: #fff;
	padding: 20px;
	z-index: 3;
	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	&__list {
		@extend %clear-list;
		display: flex;
		align-items: center;
	}
	&__in {
		margin-left: auto;
	}
	&__logo {
		margin-right: 40px;
	}
	&__item {
		margin-right: 20px;
		cursor: pointer;
	}
	&__in, &__item {
		cursor: pointer;
		fill: #ccc;
		transition: fill .3s;
		&:hover {
			fill: $blue;
		}
	}
}
@media (min-width: 576px) {
	.leftnav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100px;
		padding: 26px 0 100px;
		&__list {
			flex-direction: column;
			height: 100%;
		}
		&__in,&__logo,&__item {
			margin: 0;
		}
		&__logo {
			margin-bottom: 100px;
		}
		&__item {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		&__in {
			margin-top: auto;
			svg {
				margin-bottom: 0;
			}
		}
	}
}
@media (min-width: 576px) and (max-height: 676px) {
	.leftnav {
		padding-bottom: 50px;
		&__logo {
			margin-bottom: 50px;
		}
		&__item {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

@media (min-width: 992px) {
	.leftnav {
		width: 120px;
	}
}
@media (min-width: 1200px) {
	.leftnav {
		width: 146px;
	}
}

.show-close-menu {
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
  position: absolute;
  right: 30px;
  top: 110px;
  width: 87px;
  height: 87px;
  padding: 36px 34.5px;
  z-index: 5;
  cursor: pointer;
}

.show-close-menu:after, 
.show-close-menu:before, 
.show-close-menu div {
  background-color: $blue;
  border-radius: 1px;
  content: '';
  display: block;
  height: 3px;
  margin-bottom: 3px;
  transition: all .3s ease-in-out;
}

.show-close-menu.active:before {
  transform: translateY(6.3px) rotate(135deg);
}

.show-close-menu.active:after {
  transform: translateY(-6.3px) rotate(-135deg);
}

.show-close-menu.active div {
  transform: scale(0);
}

@media (min-width: 576px) {
	.show-close-menu {
		right: 55px;
		top: 55px;
	}
}

.rightnav {
	flex-grow: 1;

	&__cont {
		display: flex;
		flex-direction: column;
		position: absolute;
		height: 100%;
		right: 0;
		top: 82px;
		width: 100%;
		background-color: #fff;
		transition: width .2s;
		overflow: auto;
		padding-top: 150px;
		padding-bottom: 80px;
		z-index: 4;
	}

	&__list {
		@extend %clear-list;
		text-align: right;
	}

	&__item {
		padding: 20px 0;
		white-space: nowrap;
	}

	&__link {
		text-transform: uppercase;
		color: $gray1;
		transition: color .4s;
		&:hover {
			color: $black;
		}
	}

	&__icon {
		margin-left: 30px;
		margin-right: 70px;
	}
}
.categories {
	padding-top: 20px;
	display: block;
	color: $blue;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		display: block;
		background-color: $blue;
		height: 2px;
		width: 157px;
		bottom: -16px;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (min-width: 576px) {
	.rightnav__cont {
		top: 0;
		width: 370px;
	}
	.rightnav__item {
		padding: 36px 0;
	}
}

.carousel {
	height: calc(100% - 82px);
	@media(min-width: 576px) {
		height: 100%;
	}
	&__item {
		height: 100%;
		background: url('../img/bg.png') no-repeat 50% 0;
		background-size: cover;
		position: relative;
	}
}

.slick-list, .slick-track {
	height: 100%;
}
.slick-dots {
	overflow: hidden;
	position: absolute;
	bottom: 20px;
	right: 20px;
	@media(min-width: 576px) {
		bottom: 40px;
		right: 60px;
	}
	@media(min-width: 768px) {
		bottom: 55px;
		right: 100px;
	}
	@media(min-width: 992px) {
		bottom: 70px;
		right: 140px;
	}
	@media(min-width: 1200px) {
		bottom: 100px;
		right: 215px;
	}
	@extend %clear-list;
	li {
		display: inline-block;
	}
	button {
		height: 14px;
		width: 14px;
		border-radius: 50%;
		background-color: transparent;
		border: 3px solid $gray1;
		font-size: 0;
		outline: none;
		padding: 0;
		cursor: pointer;
		margin-left: 44px;
		transition: border-color .3s, background-color .3s;
		&:hover {
			border-color: $blue;
		}
	}
	.slick-active button {
		background-color: $blue;
		border-color: $blue;
	}
}

.header {
	position: absolute;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	text-align: center;
	&__name {
		margin-top: 80px;
		font-size: 100px;
		font-weight: 100;
		text-transform: uppercase;
		@media(min-width: 576px) {
			margin-top: 100px;
			font-size: 130px;
		}
		@media(min-width: 768px) {
			margin-top: 80px;
			font-size: 190px;
		}
		@media(min-width: 992px) {
			font-size: 220px;
		}
	}
	&__desc {
		font-size: 20px;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: -15px;
		margin-bottom: 30px;
		@media(min-width: 576px) {
			font-size: 26px;
			margin-top: -25px;
			padding: 0 100px;
		}
		@media(min-width: 768px) {
			font-size: 30px;
			margin-top: -35px;
		}
		@media(min-width: 992px) {
			font-size: 36px;
			margin-top: -45px;
		}
	}
	&__btn {
		@extend %button;
		font-weight: 900;
		width: 215px;
		height: 52px;
		background-color: $blue;
		line-height: 52px;
		border-radius: 26px;
		transition: box-shadow 0.3s;
		margin-bottom: 1rem;
		&:hover {
			box-shadow: 0 0 10px 0px $blue;
		}
	}
}
